/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  align-items: center;
  /* overflow-y: hidden; Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  
 
}

html {
  scroll-behavior: smooth;
}

.background{
  background: linear-gradient(180deg, #1400FF 0%, #000000 100%), linear-gradient(154.03deg, #33FF00 0%, #FF003D 74.04%), linear-gradient(341.1deg, #F0B4FF 7.52%, #1700A4 77.98%), radial-gradient(49.82% 80.51% at 49.82% 50%, #8100A2 0%, #FF3D00 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
  background-blend-mode: overlay, difference, difference, difference, normal;
  padding-bottom: 30px;
}
.about-back{
  background-color:aliceblue;
}
.about-back{
  color: #000000;
}



p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links, .nav-links-bottom {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  color: white;
}
.nav-links a{
  color:white
}

.nav-links-bottom{
  padding-top: 60px;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  color: white;
}
.nav-links-bottom a{
  color:rgb(0, 0, 0)
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  color:#ffff;
}


.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  color: #000000;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
@media screen and (max-width: 700px){
  .box{
    width:fit-content;
    overflow: auto;
    position: fixed;
  }
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(250, 248, 248);
  color: rgb(0, 0, 0);
}

.btn-color-1:hover {
  background: rgb(255, 255, 255);
}

.btn-color-2 {
  background: none;
  color: white;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.text-sub {
  text-align:justify;
  list-style:circle;
  color:#000000;
}
.text-sub p{
  color: #000000;
}


.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  

}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: rgb(0, 0, 0);
  font-family:Arial, Helvetica, sans-serif;
}

.project-btn {
  color: rgb(0, 0, 0);
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}


.box {
  
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.buttonp {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms; 
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  position: relative;
  transition: all 5s ease-in-out;
  
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  padding: 10px;
}
.popup p{
  align-content: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  text-align: justify;
  
}

.popup img{
  align-items: left;
  width: "45%" 
  
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width:fit-content;
    overflow: auto;
    position: fixed;
  }
  .popup{
    overflow: auto;
    width:300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(85, 85, 85);
    scroll-behavior: smooth;
  }
  .overlay{
    position:fixed;
    width: 200px;
    height: 500px;
    left: 50px;
    background: none;
  }
  .overlay img{
    display: none;
  }

}

.banner{
	  position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    background: url(../images/) no-repeat top center;
    background-size: cover;
    padding: 220px 0 120px;
    
}

.banner-content h2{
	font-size: 22px;
	font-weight: 300;
	color: #fffdfd;
	line-height: 2.3em;
	margin-bottom: 1.5em;
	letter-spacing: 0.04em;
}

.banner-content h2 span.before-heading{
	display: block;
	font-size: 22px;
}

.banner-content h2 span{
	display: block;
	font-size: 56px;
	font-weight: 300;
}

.banner-content p{
	color: #000000;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 1.5em;
}

@media screen and (max-width: 700px){

.banner-content h3{
  text-align: center;
  font-size: 35px;
}
.banner{
  padding: 120px 0 120px;
}
}


.btn-download{
	display: inline-block;
	border: 2px solid #000000;
	padding: 14px 30px;
	border-radius: 4px;
	color: #000000;
	transition: all 0.3s;
}

.btn-download:hover{
	border-color: #ff5d56;
	color: #ff5d56;
}


/* ABOUT SECTION */
.about-content h3{
	color: #000000;
	font-weight: 400;
	font-size: 26px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.about-content h1{
	color: #000000;
	
}

.about-content h3:after{
	content: '';
	display: block;
	width: 40px;
	height: 4px;
	background: #ff5d56;
	position: absolute;
	left: 0;
	bottom: 0;
}

.about-content p{
	line-height: 1.6em;
	margin-bottom: 1.6em;
  
}

.about-content ul{
	padding: 0;
	margin: 0;
	list-style: none;
  color: #000000;
    
}

.about-content ul:after{
	content: '';
	display: block;
	clear: both;
}

.about-content ul li{
	float: left;
	width: 48%;
	padding: 4px 0 4px 36px;
	margin-right: 2%;
	position: relative;
}

.about-content ul li b,
.about-content ul li strong{
	font-weight: 600;
}

.about-content ul li i{
	color: #ff5d56;
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
}